<h1>New url</h1>

<% form_for(@url) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :short %><br />
    <%= f.text_field :short %>
  </p>
  <p>
    <%= f.label :full %><br />
    <%= f.text_field :full %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', urls_path %>